h1 {
  text-align: center;
  background-color: rgb(96 96 96 / 0.8);
  font-size: 250%;
  margin-right: 33%;
  margin-left: 33%;
}

body {
  font-family: sans-serif;
  background-image: url("delalune.jpeg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #577a6d;
  color: #e3cc59;
}

p,
ol,
ul {
  background-color: rgb(96 96 96 / 0.8);
  margin-right: 33%;
  margin-left: 33%;
}
button {
  background: rgb(96 96 96);
  color: #e3cc59;
  border: 3px solid #e3cc59;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  display: inline-block;
  position: center;
}

button:hover {
  color: #e3cc59;
  background: #191f19;
  cursor: pointer;
}
.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  border-radius: 50%;
}
.middlepls {
  text-align: center;
}
